[submodule "vendor/github.com/gabime/spdlog"]
	path = vendor/github.com/gabime/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/github.com/chriskohlhoff/asio"]
	path = vendor/github.com/chriskohlhoff/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "vendor/github.com/libsdl-org/SDL"]
	path = vendor/github.com/libsdl-org/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/github.com/nayuki/QR-Code-generator"]
	path = vendor/github.com/nayuki/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator
[submodule "vendor/github.com/ARM-software/astc-encoder"]
	path = vendor/github.com/ARM-software/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
[submodule "vendor/github.com/erincatto/box2d"]
	path = vendor/github.com/erincatto/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "vendor/github.com/FFmpeg/FFmpeg"]
	path = vendor/github.com/FFmpeg/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "vendor/github.com/libsdl-org/SDL_ttf"]
	path = vendor/github.com/libsdl-org/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "vendor/github.com/sammycage/lunasvg"]
	path = vendor/github.com/sammycage/lunasvg
	url = https://github.com/sammycage/lunasvg.git
[submodule "vendor/github.com/floooh/sokol-tools-bin"]
	path = vendor/github.com/floooh/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
